#---------------------------------------------------------------------------------------------------------#
# ! This ansible_systemd_archive file was generated autimatically with ansible, don't change the contents ! #
#---------------------------------------------------------------------------------------------------------#

[Unit]
Description=Mount for {{ item.1 }}

[Mount]
What={{ item.0.archive_user }}@{{ item.0.archive_system }}:/home/{{ item.0.archive_user }}/{{ item.0.name }}/{{ item.1 }}
Where=/groups/{{ item.1 }}/{{ item.0.name }}
Type=fuse.sshfs
Options=users,idmap=user,IdentityFile="{{ archive_ssh_key_location }}",reconnect,default_permissions,allow_other,uid={{ item.1 }}-dm,gid={{ item.1 | trim() }}

[Install]
WantedBy=multi-user.target
