[Unit]
Description=Run ldap_group_structure.service every 5 minutes

[Timer]
OnBootSec=15min
OnUnitInactiveSec=5m
RandomizedDelaySec=60s

[Install]
WantedBy=timers.target
