#jinja2: trim_blocks:True, lstrip_blocks: True
#!/bin/bash

set -ueo pipefail

_main="{{ main_repo_path }}"


{% raw %}
! test -d "${_main}/0cache" && mkdir "${_main}/0cache"

print_all_repos() {
   echo ""
   echo "All available repositories are"
   cd ${_main}/dnf.repos.d/
   grep -o '\[[^]]*\]' */*.repo | tr ':' '/' | tr -d '[]' | cut -d'/' -f 1,3 | sort -u
}

if [[ -z "${1:-}" ]]; then
      echo "Error, you did not provide distribution!"
      print_all_repos
      echo ""
      echo "Correct syntax for downloading the specific repository is"
      echo "  ${0} [os_distribution] [repository]"
      echo "or to download ALL repositories of a specific OS distribution"
      echo "  ${0} [os_distribution]"
      exit
fi

_repo=${1##*/}
_os_distribution=${1%%/*}

_time="$(date +%Y%m%d-%H%M%S)"
dnf reposync --conf ${_main}/dnf.repos.d/${_os_distribution}.conf --repo ${_repo} --downloaddir=${_main}/0cache/${_os_distribution}/ && \
mkdir -p "${_main}/1versions/${_os_distribution}/${_repo}/" && \
cp -a --reflink=always ${_main}/0cache/${_os_distribution}/${_repo}/ "${_main}/1versions/${_os_distribution}/${_repo}/${_time}/" || exit
echo ""
echo ""
echo "New version created:   ${_main}/1versions/${_os_distribution}/${_repo}/${_time}"
{% endraw %}
