#!/bin/bash

ogm_server="{{ ogm_server }}"
prm_location="{{ prm_location }}"
stack_prefix="{{ stack_prefix }}"
trendanalysis_api_username="{{ trendanalysis_api_username }}"
{{ trendanalysis_cron_command }}
