#!/bin/bash

{% if logs_server_public_networks is defined and ( logs_server_public_networks|length > 0 ) %}
declare earl_servers=(
{% for cluster_class in logs_server_public_networks -%}
   {%- for logs_server in logs_server_public_networks[cluster_class] %}
     {{ logs_server.name }} 
   {% endfor -%}
{%- endfor %}
)
{% endif %}


_earl_user="{{ logs_toprm_earl_user }}"
_logs_toprm_destination="{{ logs_toprm_destination }}"


{% raw %}
echo "$(date) __ START __ (use 'jouralctl -f logstoprm' for more information)"
for _earl_name in "${earl_servers[@]}"; do
   echo "$(date)   Running parallax for \"${_earl_name}\""
   _rsync_log="${_logs_toprm_destination}/logs/rsync.${_earl_name}.log"
   HOSTALIASES=/etc/hosts-LoR rsync -au --rsh="ssh -l ${_earl_user}" --log-file="${_rsync_log}" "${_earl_name}"::logstoprm "${_logs_toprm_destination}/data/${_earl_name}/"
   echo "$(date)    ... \"${_earl_name}\" finished"
done

~/deduplicate_logs.sh -d
{% endraw %}
