[Unit]
Description=Fix network interface names using udev rules.

Wants=systemd-udevd.service network-pre.target
After=systemd-udevd.service
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/usr/local/sbin/fix_network_interface_names

[Install]
WantedBy=network.target