[Unit]
Description=Fix network interface names using udev rules.

Requires=network-online.target
After=network-online.target
Before=lnet.service

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/usr/local/sbin/fix_network_interface_names

[Install]
WantedBy=multi-user.target remote-fs-pre.target
