#----------------------------------------------------------------------------------------------------------#
# ! This ansible_remote_archive file was generated autimatically with ansible, don't change the contents ! #
#----------------------------------------------------------------------------------------------------------#

[Unit]
Description=Mount for {{ item.1 }}

[Mount]
What={{ item.0.archive_user }}@{{ item.0.archive_system }}:{{ item.0.archive_remote_top_dir }}/{{ item.1 }}/{{ item.0.name }}
Where=/groups/{{ item.1 }}/{{ item.0.name }}
Type=fuse.sshfs
# ServerAliveInterval - ssh sends every X seconds a message to the server requesting a response
# ServerAliveCountMax - and max this times if responding
# max_conns - each sshfs mount allows up to this number of connections
# ControlPersist - automount disconnects after 3 minutes, this ssh connection stays for 5 min
# ControlPath - even tho every connection to server should and *does* use ssh settings from ~/.ssh/conf.d
#               the sshfs somehow ignores global settings and creates new connections - this prevents it
# compression=no  - we don't need compression, as we already use it at .ssh/conf.d configuration
# cache=yes       - use data and metadata caching
Options=default_permissions,ServerAliveCountMax=2,ServerAliveInterval=2,max_conns=5,ControlPersist=300,ControlPath=/root/.ssh/tmp/%%C,users,idmap=none,IdentityFile="{{ archive_ssh_key_location }}",reconnect,allow_other,uid={{ item.1 }}-dm,gid={{ item.1 | trim() }}-dm,compression=no,cache=yes,attr_timeout=2,_netdev
# This prevents: when redeploying the role, systemd must restart .mount service, which fails when users are using mount point
LazyUnmount=true

[Install]
WantedBy=multi-user.target
