#!/bin/bash

set -euo pipefail

# Variables built from ansible
_arc="{{ item.name }}"
_user="{{ item.archive_user }}"
_system="{{ item.archive_system }}"
_lock="/var/cache/arcq/${_arc}-lock"
_queue_dir="/var/cache/arcq/queue/${_arc}"
_stdout_dir="/tmp/arcq_stdout"
_nl="
"
# Locking mechanism
# Systemd has only limit burst rate, which is not rate limit. Rate limit of one
# ssh command per ${_delay} seconds seems reasonable.
_delay=5

if [[ -f "$_lock" ]]; then
    _last_run=$(cat "${_lock}")
    _now=$(date +%s)
    _diff=$((_now - _last_run))

    if (( _diff < _delay )); then
        _sleep=$((_delay - _diff))
        echo "${0} info: rate limit hit. Sleeping for ${_sleep} seconds."
        sleep "${_sleep}"
    fi
fi
date +%s > "${_lock}"

# Make directory structure with correct permissions
if ! test -d "${_stdout_dir}"; then mkdir -m "1777" -p "${_stdout_dir}"; fi
if ! test -d "${_stdout_dir}" && \
   ! test -w "${_stdout_dir}" && \
   ! test -r "${_stdout_dir}" && \
   ! test -k "${_stdout_dir}"; then chmod "1777" "${_stdout_dir}"; fi

# Clean old outputs
find "${_stdout_dir:-/error_path_fail}" -type f -mmin +60 -exec rm {} +

# Queueing part
if ! test -d "${_queue_dir:-error_path}"; then
   echo "${0} error: no ${_queue_dir}, exiting ..."
   exit
fi
_queue_files="$(find /var/cache/arcq/queue/${_arc} -type f)"
for _file in ${_queue_files}; do
   # Prepare variables
   #  the file structure: from queue file. All send in one line = [command] [subdirectory]
   _path=$(head -n 1 < "${_file}" | cut -s -d' ' -f2)
   _command=$(head -n 1 < "${_file}" | cut -s -d' ' -f1)
   _group="$(echo "${_path}" | cut -s -d'/' -f3)"
   _fs="$(echo "${_path}" | cut -s -d'/' -f4)"
   _subdir="$(echo "${_path}" | cut -s -d'/' -f5-)"
   #  the output: based on basename of queued file
   _basename="$(basename ${_file})"
   _stdout="/${_stdout_dir}/${_basename}"
   _append=""
   _submitter_uid="$(stat -c '%u' "${_file}")"
   _submitter_gid=$(id -G "${_submitter_uid}")
   _archive_uid=$(stat -c "%u" "${_path}")
   _archive_gid=$(stat -c "%g" "${_path}")
   echo "${0}: Info: received path ${_path}"
   touch "${_stdout}" && chown "${_submitter_uid}":"${_group}" "${_stdout}"
   touch "${_stdout}.err" && chown "${_submitter_uid}":"${_group}" "${_stdout}.err"
   echo "${0} info: output set to '${_stdout}{,.err}'"
   if [ "${_submitter_uid}" -ne "${_archive_uid}" ] && ! grep -qw "${_archive_gid}" <<< "${_submitter_gid}"; then
      echo "${0} error: you must have access to the path in order to work with archive." > "${_stdout}.err"
      rm -f "${_file}"
      continue
   fi
   # Check that it is running on a correct filesystem
   if [[ ! "${_fs}" =~ ^"arc"[0-9][0-9]$ ]]; then
      echo "error: (${_fs}) path not pointing to the arc filesystem!" > "${_stdout}.err"
      rm -f "${_file}"
      continue
   fi
   # Check and format command
   _argument=$(head -n 1 < "${_file}" | cut -s -d' ' -f1)
   case "${_argument:2}" in
      dmfind-reg) _command="dmfind ${_arc}/${_group}/${_subdir} -type f -state reg" ;;
      dmfind-mig) _command="dmfind ${_arc}/${_group}/${_subdir} -type f -state mig" ;;
      dmfind-dul) _command="dmfind ${_arc}/${_group}/${_subdir} -type f -state dul" ;;
      dmfind-ofl) _command="dmfind ${_arc}/${_group}/${_subdir} -type f -state ofl" ;;
      dmfind-unm) _command="dmfind ${_arc}/${_group}/${_subdir} -type f -state unm" ;;
      dmget)      _command="dmget -n ${_arc}/${_group}/${_subdir}" ;;
      dmls)       _command="dmls -l ${_arc}/${_group}/${_subdir}" ;;
      dmput)      _command="dmput -n -r ${_arc}/${_group}/${_subdir}" ;;
      *)          echo "Unsupported argument provided (${_argument})! Use '--help' and try again." > "${_stdout}.err"
                  rm -f "${_file:-error_path}" && continue ;;
   esac
   rm -f "${_file:-error_path}"
   # "Atomic" action 1/2: first collect the output
   echo "${0} info: running command '${_command}'"
   # We capture the error ourselve, we don't want -o pipefail to jump in here
   _reply="$(timeout -s 9 $((_delay*2)) ssh "${_user}@${_system}" "${_command}" 2>"${_stdout}.err" || true)"
   [[ "${?}" -ne "0" ]] && _append="Error: command not finished normally ..."
   # "Atomic" action 2/2: then write the output in one move
   echo "${_reply}${_nl}${_append}" > "${_stdout}" && sync
done
